<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>782402104681-kkns65f1c4tt2c91o0jr4jmiad1ia23h.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.782402104681-kkns65f1c4tt2c91o0jr4jmiad1ia23h</string>
    <key>API_KEY</key>
    <string>AIzaSyBFG39VoBuwxyaNPSIM9jbbyOadu1EXPd4</string>
    <key>GCM_SENDER_ID</key>
    <string>782402104681</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.beyondconfident.YucatanXchange</string>
    <key>PROJECT_ID</key>
    <string>yucatanxchange</string>
    <key>STORAGE_BUCKET</key>
    <string>yucatanxchange.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:782402104681:ios:0f2a029f29feaf9c9521f8</string>
    <key>DATABASE_URL</key>
    <string>https://yucatanxchange-default-rtdb.firebaseio.com</string>
</dict>
</plist>
